Node-Red_V2.2.txt
[{"id":"d9b3a40e.d414d","type":"comment","z":"74beb30d.97747c","name":"msg:Object","info":"{\"app_id\":\"hanze_afvalbak\",\n\"dev_id\":\"slimme_afvalbak\",\n\"hardware_serial\":\"AAAAAAAAAAAAAAAA\",\n\"port\":1,\n\"counter\":0,\n\"is_retry\":true,\n\"payload_raw\":[50,53],\n\"metadata\":{\"time\":\"2018-06-04T11:00:25.133975694Z\",\n\"frequency\":868.1,\n\"modulation\":\"LORA\",\n\"data_rate\":\"SF7BW125\",\n\"airtime\":46336000,\n\"coding_rate\":\"4/5\",\n\"gateways\":[{\"gtw_id\":\"eui-7276ff00390304dd\",\n\"timestamp\":16435884,\n\"time\":\"\",\n\"channel\":5,\n\"rssi\":-101,\n\"snr\":7,\n\"rf_chain\":1,\n\"latitude\":53.241035,\n\"longitude\":6.5317354,\n\"altitude\":10,\n\"location_source\":\"registry\"}]},\n\"payload\":[50,53],\n\"_msgid\":\"245bd443.d1c72c\"}","x":90,"y":120,"wires":[]},{"id":"f3ad4feb.ea8898","type":"function","z":"74beb30d.97747c","name":"Get vg","func":"try {\n    var vg = msg.payload.toString();\n}\ncatch (ex) {\n    var vg = '0';\n}\nvar hoogte_vuilnisbak = 80;\nvar vg = Math.floor(100-(vg*100/hoogte_vuilnisbak));\n\nglobal.set(\"vg_new\", vg);\n\nvar id = msg.dev_id.toString();\nglobal.set(\"id\", id);\n\nvar out = \"SELECT Vullings_Graad FROM afvalbakken WHERE Locatie = '\" + id + \"';\";\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["2fc5c565.9d8b1a"]]},{"id":"2fc5c565.9d8b1a","type":"mysql","z":"74beb30d.97747c","mydb":"b43bda42.6ca8e8","name":"DB","x":370,"y":60,"wires":[["d63acece.fc664"]]},{"id":"87989c93.dbdf48","type":"ttn uplink","z":"74beb30d.97747c","name":"slimme_afvalbak","app":"683c562d.bc4a18","dev_id":"slimme_afvalbak","field":"","x":100,"y":60,"wires":[["f3ad4feb.ea8898"]]},{"id":"d63acece.fc664","type":"function","z":"74beb30d.97747c","name":"Update vg","func":"var id = global.get(\"id\");\nvar vg_new = global.get(\"vg_new\");\nvar time = (Date.now()/1000);\n\ntry {\n    var vg_old = msg.payload;\n    var vg_new = global.get(\"vg_new\");\n    vg_old = vg_old[0]['Vullings_Graad'];\n    var out = \"\";\n    \n    if (vg_new>=vg_old+10) {\n        //just write\n        out = \"UPDATE afvalbakken SET Vullings_Graad = '\" + vg_new + \"' WHERE Locatie = '\" + id + \"';\";\n    }\n    else if ((vg_new+10)<vg_old) {\n        //write + date\n        out = \"UPDATE afvalbakken SET Vullings_Graad = '\" + vg_new + \"', Laatst_Geleegd = '\" + time + \"' WHERE Locatie = '\" + id + \"';\";\n    }\n    msg.topic=out;\n}\ncatch (ex) {\n    var out = \"INSERT INTO afvalbakken (Vullings_Graad, Locatie, Laatst_Geleegd) VALUES \"\n    out = out + \" ('\" + vg_new + \"', '\" + id + \"', '\" + time + \"');\"\n    msg.topic=out;\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["560ac16e.7628"]]},{"id":"a55c768f.3428a","type":"debug","z":"74beb30d.97747c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":60,"wires":[]},{"id":"560ac16e.7628","type":"mysql","z":"74beb30d.97747c","mydb":"b43bda42.6ca8e8","name":"DB","x":650,"y":60,"wires":[["a55c768f.3428a"]]},{"id":"b43bda42.6ca8e8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"afvalbak","tz":""},{"id":"683c562d.bc4a18","type":"ttn app","z":"","appId":"hanze_afvalbak","accessKey":"ttn-account-v2.vv42y2MURwg8geaFdSq955BVMs5ImBePEJdpqjhYQeM","discovery":"discovery.thethingsnetwork.org:1900"}]