Node-Red_V2.1.txt
[{"id":"49668466.ee554c","type":"inject","z":"74beb30d.97747c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["f3ad4feb.ea8898"]]},{"id":"f3ad4feb.ea8898","type":"function","z":"74beb30d.97747c","name":"Get database 'Vullings_Graad'","func":"//var vg = msg.payload.toString();\nvar vg = '39';\nvar hoogte_vuilnisbak = 80;\nvar vg = Math.floor(100-(vg*1.25));\n\nglobal.set(\"vg_new\", vg);\n\n//var id = msg.dev_id.toString();\nvar id = 'slimme_afvalbak2';\nglobal.set(\"id\", id);\n\nvar out = \"SELECT Vullings_Graad FROM afvalbakken WHERE Locatie = '\" + id + \"';\";\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["2fc5c565.9d8b1a"]]},{"id":"2fc5c565.9d8b1a","type":"mysql","z":"74beb30d.97747c","mydb":"b43bda42.6ca8e8","name":"Database","x":540,"y":200,"wires":[["d63acece.fc664"]]},{"id":"87989c93.dbdf48","type":"ttn uplink","z":"74beb30d.97747c","name":"hanze_afvalbak","app":"683c562d.bc4a18","dev_id":"slimme_afvalbak","field":"","x":100,"y":220,"wires":[["f3ad4feb.ea8898"]]},{"id":"d63acece.fc664","type":"function","z":"74beb30d.97747c","name":"Update vuilnisbak","func":"var id = global.get(\"id\");\nvar vg_new = global.get(\"vg_new\");\nvar time = (Date.now()/1000);\n\ntry{\n    var vg_old = msg.payload;\n    var vg_new = global.get(\"vg_new\");\n    vg_old = vg_old[0]['Vullings_Graad'];\n    var out = \"\";\n    \n    if(vg_new>=vg_old){\n        //just write\n        out = \"UPDATE afvalbakken SET Vullings_Graad = '\" + vg_new + \"' WHERE Locatie = '\" + id + \"';\";\n    }\n    else if(vg_new<vg_old){\n        //write + date\n        out = \"UPDATE afvalbakken SET Vullings_Graad = '\" + vg_new + \"', Laatst_Geleegd = '\" + time + \"' WHERE Locatie = '\" + id + \"';\";\n    }\n    msg.topic=out;\n}\ncatch (ex) {\n    var out = \"INSERT INTO afvalbakken (Vullings_Graad, Locatie, Laatst_Geleegd) VALUES \"\n    out = out + \" ('\" + vg_new + \"', '\" + id + \"', '\" + time + \"');\"\n    msg.topic=out;\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["560ac16e.7628"]]},{"id":"a55c768f.3428a","type":"debug","z":"74beb30d.97747c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":320,"wires":[]},{"id":"560ac16e.7628","type":"mysql","z":"74beb30d.97747c","mydb":"b43bda42.6ca8e8","name":"Database","x":880,"y":200,"wires":[["a55c768f.3428a"]]},{"id":"b43bda42.6ca8e8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"afvalbak","tz":""},{"id":"683c562d.bc4a18","type":"ttn app","z":"","appId":"hanze_afvalbak","accessKey":"ttn-account-v2.vv42y2MURwg8geaFdSq955BVMs5ImBePEJdpqjhYQeM","discovery":"discovery.thethingsnetwork.org:1900"}]