Node-red_V2.0.txt
[{"id":"49668466.ee554c","type":"inject","z":"74beb30d.97747c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["f3ad4feb.ea8898"]]},{"id":"f3ad4feb.ea8898","type":"function","z":"74beb30d.97747c","name":"Get database 'Vullings_Graad'","func":"if(msg.payload===\"\"){\n    var vg = msg.payload.toString();\n    //var vg = '8';\n    global.set(\"vg_new\", vg);\n\n    var id = msg.dev_id.toString();\n    //var id = 'slimme_afvalbak';\n    global.set(\"id\", id);\n\n    var out = \"SELECT Vullings_Graad FROM afvalbakken WHERE Locatie = '\" + id + \"';\";\n    msg.topic=out;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["2fc5c565.9d8b1a"]]},{"id":"2fc5c565.9d8b1a","type":"mysql","z":"74beb30d.97747c","mydb":"b43bda42.6ca8e8","name":"Database","x":580,"y":360,"wires":[["d63acece.fc664"]]},{"id":"87989c93.dbdf48","type":"ttn uplink","z":"74beb30d.97747c","name":"hanze_afvalbak","app":"683c562d.bc4a18","dev_id":"slimme_afvalbak","field":"","x":100,"y":360,"wires":[["f3ad4feb.ea8898"]]},{"id":"d63acece.fc664","type":"function","z":"74beb30d.97747c","name":"Update vuilnisbak","func":"var id = global.get(\"id\");\nvar vg_old = msg.payload;\nvar vg_new = global.get(\"vg_new\");\nvg_old = vg_old[0]['Vullings_Graad'];\nvar out = \"\";\n\nif(vg_new>=vg_old){\n    //just write\n    out = \"UPDATE afvalbakken SET Vullings_Graad = '\" + vg_new + \"' WHERE Locatie = '\" + id + \"';\";\n}\nelse if(vg_new<vg_old){\n    //write + date\n    var time = Date.now();\n    out = \"UPDATE afvalbakken SET Vullings_Graad = '\" + vg_new + \"', Laatst_Geleegd = '\" + time + \"' WHERE Locatie = '\" + id + \"';\";\n}\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":360,"wires":[["560ac16e.7628"]]},{"id":"a55c768f.3428a","type":"debug","z":"74beb30d.97747c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":360,"wires":[]},{"id":"560ac16e.7628","type":"mysql","z":"74beb30d.97747c","mydb":"b43bda42.6ca8e8","name":"Database","x":960,"y":360,"wires":[["a55c768f.3428a"]]},{"id":"b43bda42.6ca8e8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"afvalbak","tz":""},{"id":"683c562d.bc4a18","type":"ttn app","z":"","appId":"hanze_afvalbak","accessKey":"ttn-account-v2.vv42y2MURwg8geaFdSq955BVMs5ImBePEJdpqjhYQeM","discovery":"discovery.thethingsnetwork.org:1900"}]