Node-Red_V1.1.txt
[{"id":"423494bd.6188e4","type":"ttn uplink","z":"74beb30d.97747c","name":"hanze_afvalbak","app":"683c562d.bc4a18","dev_id":"slimme_afvalbak","field":"","x":100,"y":80,"wires":[["de7f5170.91fc48"]]},{"id":"5e6ff743.f1f278","type":"mysql","z":"74beb30d.97747c","mydb":"b43bda42.6ca8e8","name":"vulgraad","x":480,"y":80,"wires":[["5c075761.188e08"]]},{"id":"de7f5170.91fc48","type":"function","z":"74beb30d.97747c","name":"Get information","func":"var vg = msg.payload.toString();\nvar id = msg.dev_id.toString();\nvar time = Date.now()\nvar out = \"INSERT INTO afvalbak (vulgraad, afvalbakid, timestamp) VALUES \"\nout = out + \" ('\" + vg + \"', '\" + id + \"', '\" + time + \"');\"\nmsg.topic=out;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["5e6ff743.f1f278"]]},{"id":"5c075761.188e08","type":"debug","z":"74beb30d.97747c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":640,"y":80,"wires":[]},{"id":"d9b3a40e.d414d","type":"comment","z":"74beb30d.97747c","name":"msg:Object","info":"{\"app_id\":\"hanze_afvalbak\",\n\"dev_id\":\"slimme_afvalbak\",\n\"hardware_serial\":\"AAAAAAAAAAAAAAAA\",\n\"port\":1,\n\"counter\":0,\n\"is_retry\":true,\n\"payload_raw\":[50,53],\n\"metadata\":{\"time\":\"2018-06-04T11:00:25.133975694Z\",\n\"frequency\":868.1,\n\"modulation\":\"LORA\",\n\"data_rate\":\"SF7BW125\",\n\"airtime\":46336000,\n\"coding_rate\":\"4/5\",\n\"gateways\":[{\"gtw_id\":\"eui-7276ff00390304dd\",\n\"timestamp\":16435884,\n\"time\":\"\",\n\"channel\":5,\n\"rssi\":-101,\n\"snr\":7,\n\"rf_chain\":1,\n\"latitude\":53.241035,\n\"longitude\":6.5317354,\n\"altitude\":10,\n\"location_source\":\"registry\"}]},\n\"payload\":[50,53],\n\"_msgid\":\"245bd443.d1c72c\"}","x":90,"y":140,"wires":[]},{"id":"683c562d.bc4a18","type":"ttn app","z":"","appId":"hanze_afvalbak","accessKey":"ttn-account-v2.vv42y2MURwg8geaFdSq955BVMs5ImBePEJdpqjhYQeM","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"b43bda42.6ca8e8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""}]